.note-editor {
  flex:2;
}

.note-editor textarea {
  box-sizing: border-box;
  height: 100%;
  border: 0;
  border-radius: 0;
  padding-top: 15px;
}

.form-group {
  display: flex;
  flex-flow: column;
  margin-bottom: 0;
  height: 100%;
  align-items: center;
}

.form-group textarea {
  height: 30%;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.form-group .btn {
  width: 30%;
  margin-right: 20px;
  align-self: flex-end;
}

.title {
  border:0;
}